<div class="container">
      <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">Energy Logan</a>
            </div>
            <ul class="nav navbar-nav navbar-right">
                <li class="tag"><a href="/dashboard"><span class="glyphicon glyphicon-home"></span> Dashboard</a></li>
                <li class="tag"><a href="#"><span class="glyphicon glyphicon-envelope"></span> Message</a></li>
                <li class="tag"><a href="#"><span class="glyphicon glyphicon-user"></span> Account</a></li>
            </ul>
        </div>
        </nav>
</div>
<div class="container">
       <div class="row">
  <div class="col-md-6"><h4>Building: {{building}}</h4></div>


<div class="col-md-2"><h4>Floor: <span id="floor_number">{{floor_number}}</span></h4></div>


  <div class="col-md-4">
  <form class="form-inline">
  <div class="form-group ">
    <label for="goFloor"><h4>Go to floor:</h4></label>
    <input type="text" class="form-control input-mini" id="goFloor" placeholder="#">
  </div>
  </form>
  </div>

            <div class="panel panel-default">
                <div class="panel-body">
                    <table class="table table-striped">
                        <thead>
                            <tr class="headers">
                                <th class="col-xs-3">Room</th>
                                <th class="col-xs-5">Fixture</th>
                                <th class="col-xs-4"># of Fixtures</th>
                            </tr>
                        </thead>
                        <tbody>
                          {{#each surveys}}
                              <tr>
                                <td>{{this.room}}</td>
                                <td>{{this.PrefixturePreFixID}}</td>
                                <td>{{this.quantity}}</td>
                              </tr>

                          {{/each}}
                        </tbody>
                    </table>
                  </div>
                </div>
                    <div class="panel panel-default">
                     <div class="panel-body">
                        <form id="roomLine" class="form-inline">
                            <div class="form-group">
                                <input type="text" class="form-control" id="room" placeholder="room" required>
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control" id="fixture" placeholder="fixture" required>
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control fixture" name-"fixture" id="num_fixture" placeholder="# of fixtures" required>
                            </div>
                            <button type="submit" class="btn btn-primary" id="submit"><i class="fa fa-user-plus" aria-hidden="true"></i>Add row</button>
                        </form>
                    </div>
                    </div>
                     <div class="panel panel-default">
                     <button type="submit" class="btn btn-success btn-lg" id="nextFloor"><i class="fa fa-user-plus" aria-hidden="true"></i>Go to next Floor</button>

                     </div>

                </div>
                <div id="divCheckbox" style="display: none;">
                  <span id="floor_id">{{floor_id}}</span>
                  <span id="project_id">{{project_id}}</span>
                </div>

</div>

         <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

    <script src="https://cdn.jsdelivr.net/momentjs/2.12.0/moment.min.js"></script>
        <script src="../../js/survey.js"></script>
        <script src="../../js/autocomplete.js"></script>
