<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">Energy Logan</a>
        </div>
        <ul class="nav navbar-nav navbar-right">
            <li class="tag"><a href="/office-dashboard"><span class="glyphicon glyphicon-home"></span> Dashboard</a></li>
            <li class="tag"><a href="#"><span class="glyphicon glyphicon-user"></span> Account</a></li>
            <li class="tag dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">View<span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li><a href="#">Recent</a></li>
                    <li><a href="#">Progress</a></li>
                    <li><a href="#">Project ID</a></li>
                </ul>
            
    </div>
</nav>
<div class="container">
<div class="alert alert-warning">


    <h2 class="text-left"><b>Project Survey Results</b></h2>
   
    
    </div>

<div class="container">
    <div class="row col-md-6 col-md-offset-2 custyle">
    <table class="table table-striped custab">
    <thead>
        <tr>
            <th>Floor</th>
            <th>Room</th>
            <th>Fixture ID</th>
            <th>Quantity</th>
            <th class="text-center">Action</th>
        </tr>
    </thead>

    	{{#each surveys}}
            <tr>
                <td>{{this.floor_number}}</td>
                <td>{{this.room}}</td>
                <td>{{this.PrefixturePreFixID}}</td>
                <td>{{this.quantity}}</td>
                <td class="text-center"><a class='btn btn-info btn-xs edit-btn' data-id="{{this.survey_id}}" href="#"><span class="glyphicon glyphicon-edit"></span> Edit</a> <a href="#" class="btn btn-danger btn-xs delete-btn" data-id="{{this.survey_id}}"><span class="glyphicon glyphicon-remove"></span> Del</a></td>
            </tr>
      	{{/each}}

    </table>
    </div>
</div>